<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>miniface</title>
      <link rel="stylesheet" href="../jscss/style.css" type="text/css" />
   </head>
   <body>      
      <div class="contents">
         <h1>Efetue o Login</h1>
         <div>
            <div class="thread">
				<form action="login.html" method="post">
					<br/>Email:<input type="text" name="email"/><br/>
					<br/>Senha:<input type="password" name="pass"/><br/>
					<input type="submit" value="Entrar"/>
            </div>
      </div>
   </body>
</html>