<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>{{ params.name }} {{ params.last_name }} - Perfil</title>
      <link rel="stylesheet" href="../jscss/style.css" type="text/css" />
   </head>
   <body>
      <div class="nav">
	  <li><a href="/">Início</a></li>
         <img src="../photos/{{ params.image }}" />
         <ul>
			<form method="post">
				<input type="hidden" name="option" value="add">
				<input type="submit" value="Adicionar aos amigos">
			</form>
         </ul>
      </div>
      <div class="contents">
         <h1>{{ params.name }} {{ params.last_name }}</h1>
         <div>
            <table>
               <tr>
                  <th>Perfil</th>
                  <td><a href="localhost:8081/@{{ link }}">http://localhost:8081/@{{ link }}</a></td>
               </tr>
               <tr>
                  <th>E-mail</th>
                  <td>{{ params.email_address }}</td>
               </tr>
               <tr>
                  <th>Gênero</th>
				  {% ifequal params.genre 0 %}
                  <td>Não informado</td>
				  {%endifequal%}
				  {% ifequal params.genre 1 %}
                  <td>Masculino</td>
				  {%endifequal%}
				  {% ifequal params.genre 2 %}
                  <td>Feminino</td>
				  {%endifequal%}
               </tr>
			   <tr>
                  <th>País</th>
                  <td>Brasil</td>
               </tr>
               <tr>
                  <th>Cidade</th>
				  {% ifequal params.city "nulo" %}
						<td>Não informado</td>
				  {%else%}	
						<td>{{ params.city }}</td>
				  {%endifequal%}
               </tr>
            </table>
         </div>
      </div>
   </body>
</html>