<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>{{user.name}} {{user.last_name}} - Mural</title>
      <link rel="stylesheet" href="../jscss/style.css" type="text/css" />
   </head>
   <body>
      <div class="nav">
         <img src="../photos/{{user.image}}" />
         <ul>
            <li class="selected"><a href="wall">Mural</a></li>
			<li><a href="friends">Amigos</a></li>
			<li><a href="perfil">Perfil</a></li>
            <li><a href="photos">Fotos</a></li>            
            <li><a href="messages">Mensagens</a></li>
            <li><a href="events">Eventos</a></li>
			<li><a href="contact_info">Informações de Contato</a></li>
         </ul>
      </div>
      <div class="contents">
         <h1>{{user.name}} {{user.last_name}}</h1>
         <div>
			<p>
				<form action="wall" method="post" enctype="multipart/form-data">
					<textarea title="No que você está pensando?" name="message" placeholder="No que você está pensando?" autocomplete="off"
					aria-expanded="true" style="height: 63px;width:100%" required></textarea>
					<div class="meta" style="width:100%;margin:0.3em 0 1em 0;padding: 0 0 0.5em;background:#DFEBCB">Visível somente para seus amigos.
						<input class="file-input" type="file" accept='image/jpeg' name="photo"/>
						<input style="float:right;margin: 0 0.5em 0;" type="submit" value="Publicar"/>
					</div>
				</form>
			</p>
            <p>
			{% if post %}
				{% for item in post %}
				<p>
					<div class="meta">{{item.datetime}}</div> {{user.name}} {{user.last_name}} atualizou seu status.
					<div class="comment">{{item.msg}}</div>
					{% if item.comments %}
						{% for comment in item.comments reversed%}
							{% if forloop.counter0 < 4 %}
								<div class="comment2">
									<div class="meta"><a href="@{{comment.user_auth_ids}}">{{comment.user_name_lastname}}</a></div>
									{{comment.msg}}
								</div>
							{%else%}
								{{break}}
							{%endif%}
						{%endfor%}
					{%endif%}
					<form method="post" style="background: #acbffc;margin: -0.3em 0;padding: 0.2em;">
						<input type="hidden" name="uid" value="{{item.key.urlsafe}}"/>
						<input type="text" name="newComment" style="width: 65%;"/>
						<input type="submit" value="Comentar">
						<input type="submit" value="Ver mais comentarios">
					</form>
				</p>
				{%endfor%}	
				
			{%else%}
				{% if params %}
				<p>
					<div class="meta">{{params.datetime}}</div> {{user.name}} {{user.last_name}} atualizou seu status.
					<div class="comment">{{params.msg}}</div>
					{% if params.comments %}
						{% for comment in params.comments reversed%}							
							<div class="comment2">
								<div class="meta"><a href="@{{comment.user_auth_ids}}">{{comment.user_name_lastname}}</a></div>
								{{comment.msg}}
							</div>
						{%endfor%}
					{%endif%}
					<form method="post" style="background: #acbffc;margin: -0.3em 0;padding: 0.2em;">
						<input type="hidden" name="uid" value="{{params.key.urlsafe}}"/>
						<input type="text" name="newComment" required style="width: 65%;"/>
						<input type="submit" value="Comentar">
					</form>
				</p>
				{%else%}
				<p><div class="comment">Nada encontrado. Publique seu primeiro post!</div></p>
				{%endif%}
			{%endif%}
			<p><!--EXIBIDO DE FORMA INDEPENDENTE-->
				{% ifequal user.created.year user.birth.year %}
					<div class="meta">{{user.created}}</div>
					{{user.name}} {{user.last_name}} entrou na rede social.
				{%else%}
					<div class="meta">{{user.created}}</div>
					{{user.name}} {{user.last_name}} entrou na rede social.
					<br/><br/><div class="meta">{{user.birth}}</div>
					{{user.name}} {{user.last_name}} Nasceu.
				{%endifequal%}
			</p>
         </div>
      </div>
	</body>
</html>