<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>miniFace</title>
    <style>
      input {
        display: block;
      }
    </style>
  </head>

  <body>

  <div class="content">
    {% block maincontent %}

    {% endblock %}
  </div>

  <div>
    <footer>
      <hr/>
      <p>
        {% if not user %}
          <a href="/login">Entrar</a>
        {% else %}
          Bem-vindo <span style="background-color: OldLace">{{ user.name }}</span> | <a href="/logout">Logout</a>
        {% endif %}
        |        
        <a href="/signup">Novo usuario</a>
    </footer>
  </div>


  </body>
</html>
